
<h1>Quien soy</h1>

<div>
    <p>
        Me llamo Luis Javier Pineda resido en Medellín Colombia, actualmente trabajo
        tomando las mediciones de los consumos de energia y acueducto
        los procesa y analiza, 
    </p>
    <br>
    <p>
        comencé mi proyecto de vida hace dos meses para dedicarme 
        a la profesion de programar y en Coder House, vi esa oprtunidad y con este pequeño
        proyecto quiero mostrar mis capacidades como desarrollador.
    </p>
    <br>
    <p>
        Este Blog es un trabajo para recopilar datos de mi familia con el objetivo de crear una 
        un pequeño ecosistema donde alojemos toda la informacion vital y sensible de cada integrante.
    </p>
</div>







