{% extends 'family/base.html' %}

{% block 'contenido' %}

    {% block 'titulo' %}
        <title>Ver Familiares</title>
    {% endblock 'titulo' %}


    <p>Listado de Familiares:</p>
    <form action={% url 'ver_familiares' %} method="GET">
        {{formulario}}
        <input type="submit" value="Buscar">  
    </form>    

{% for familiar in familiares %}

    <li>
        {{familiar}}
        <a class="navbar-brand" href={% url 'editar_familiar' familiar.id %}>Editar</a>
        <a class="navbar-brand" href={% url 'eliminar_familiar' familiar.id %}>Eliminar</a>
    </li>
    
{% endfor %}
 
{% endblock 'contenido' %}
     

